body,html {
  height: 100%;
  margin: 3%;
  background-image: url(white.jpeg);
}

.flexbox {
  display: flex;
  margin: auto;
  margin-top: 20%;
  flex-direction: row;

}
#bookpage {
  width: 100%;
  height: 70%;
}

.left-page {
  width: 25%;
  margin-left: 5%;
  margin-top: 8%;
  padding: 5%;
  position: absolute;
  text-align: center;
}
.right-page {
  width: 25%;
  margin-left:49%;
  margin-top: 8%;
  padding: 5%;
  position: absolute;
  text-align: center;

}

p {
  padding-bottom: 3em;
}


.left-pic {
  width: 50%;

}
.para {
  line-height: 1.5;
}
#red{
	position: relative;
  margin-top: 50%;
  Left:0;
	animation-name: walking;
	animation-duration: 10s;
	animation-delay: 10.1s;
}

@keyframes walking{
  0%   {left:0px;}
  25%  {left:250px;}
  50%  {left:500px;}
  75%  {left:750px;}
  100% {left:1000px;}
